* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

main {
  padding: 20px;
}

:root {
  --main-bg-color: #8362b5; /* A light mix of blue, pink, and purple */
}