.banner {
    position: relative;
    width: 100%;
    max-width: 1300px;
    height: auto; /* Changed from fixed height to auto */
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 20px auto;
    animation: slideInFromBottom 1s ease-out;
  }
  
  .banner:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .banner-image {
    width: 100%;
    height: auto; /* Changed from 100% to auto */
    display: block; /* This ensures there's no extra space below the image */
    object-fit: cover; /* Changed from contain to cover */
    transition: transform 0.5s ease;
  }
  
  .banner:hover .banner-image {
    transform: scale(1.05);
  }
  
  /* Adjust the carousel buttons to fit the new layout */
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px; /* Increased padding for better clickability */
    font-size: 24px; /* Increased font size */
    z-index: 2;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .prev-btn { left: 10px; }
  .next-btn { right: 10px; }